<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Search Tool" 
           Language="1033" 
           Version="0.1.0" 
           Manufacturer="Search Tool" 
           UpgradeCode="PUT-GUID-HERE">
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine"
             Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Search Tool" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Search Tool">
          <Component Id="ApplicationFiles" Guid="*">
            <File Id="ApplicationFile" 
                  Source="$(var.SourceDir)\Search-Tool.exe" 
                  KeyPath="yes">
              <Permission User="Everyone" GenericAll="yes" />
            </File>
          </Component>
        </Directory>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <ComponentRef Id="ApplicationFiles" />
    </ComponentGroup>

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
  </Product>
</Wix> 